<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(typeof errors !== 'undefined' && errors.length > 0) { %>
        <div class="errors" style="color: red"> 
            <% errors.forEach(error => { %>
                <div><%= `${error.param}: ${error.msg} (value: "${error.value}")` %></div>
            <% }); %>
        </div>
    <% } %>
    <form action="/questions/create" method="POST">
        <div>
            <label for="text">Question</label>
            <input type="text" name="text">
        </div>
        <div>
            <label for="priority">Priority</label>
            <input type="text" name="priority">
        </div>

        <input type="submit">
    </form>


    <div><a href="/questions">Revenir à toutes les questions</a></div>
</body>
</html>
